.products-page {
  & .products-section {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, auto);
    column-gap: 48px;
    row-gap: 48px;
  }

  & .products-footer {
    display: flex;
    justify-content: center;
  }
}
