.border {
  border: 4px solid;

  &-very-light-blue {
    border-color: var(--color-very-light-blue);
  }

  &-rounded {
    border-radius: 199px;
  }
}

.bg-white {
  background-color: white;
}

.product-image-box-shadow {
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
}