$colors: (
  "bright-gray": #e8e8eb,
  "dark-gray": #626262,
  "very-light-blue": #6a52ff,
  "quick-silver": #A7A7A7,
  "pastel-red": #FF6363,
  "aurometalsaurus": #697386
);

:root {
  @each $color-name, $color-code in $colors {
    --color-#{$color-name}: #{$color-code};
  }
}

.cursor-pointer {
  cursor: pointer;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

$align-items-values: center, flex-start;

.align-items {
  @each $value in $align-items-values {
    &-#{$value} {
      align-items: $value;
    }
  }
}

$justify-content-values: center, space-between, space-evenly;

.justify-content {
  @each $value in $justify-content-values {
    &-#{$value} {
      justify-content: $value;
    }
  }
}

.m-0 {
  margin: 0;
}

.w-100 {
  width: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
